.search {
  position: relative;
  margin-bottom: 30px;

  &__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    padding-left: 2.4rem !important;
  }
}
