.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--color-primary) 94%, #0000)
      top/8px 8px no-repeat,
    conic-gradient(#0000 30%, var(--color-primary));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: loader 1s infinite linear;
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}
